requests==2.24.0
python_dateutil==2.8.1
SQLAlchemy==1.3.19
xmltodict==0.12.0

yagmail~=0.11.224
nameko~=2.12.0
python-dateutil~=2.8.1
pip~=20.2.2
mock~=4.0.2
setuptools~=50.0.0
six~=1.15.0
certifi~=2020.6.20
chardet~=3.0.4
idna~=2.10
urllib3~=1.25.10
zipp~=3.1.0